.editor {
    border: none;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    resize: none;
    background-color: transparent;
    color: var(--primaryTextColor);
    width: 98.7%;
    height: 100%;
}

.editor:focus {
    outline: none;
    box-shadow: none;
}