.month-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background: var(--dividerColor);
    justify-items: stretch;
    flex: 1;
}

.month-grid > div {
    display: flex;
    background: var(--backgroundColor);
    border-radius: 0.4rem;
    margin: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.year-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background: var(--dividerColor);
    flex: 1;
}

.year-grid > div {
    display: flex;
    background: var(--backgroundColor);
    border-radius: 0.2rem;
    margin: 1px;
    justify-content: center;
    align-items: center;
}

.calendar-bar {
    display: flex;
    margin: 0 0.5rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 25px;
    background: var(--dividerColor);
    flex: 1;
}

.calendar-grid > div:not(.weekday) {
    background: var(--backgroundColor);
    border-radius: 0.2rem;
    margin: 0.5px;
    overflow: auto;
}

.calendar-grid > div.empty {
    background: var(--dividerColor);
    border: 2px solid var(--secondaryTextColor);
    /* box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4); */
}

.calendar-grid > div:nth-child(7n + 1) {
    background: var(--orange);
    border: 1px solid var(--dividerColor);
}

.calendar-grid > div:not(.empty):not(.weekday):hover,
.month-grid > div:hover,
.year-grid > div:hover {
    -webkit-backface-visibility: hidden;
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transform: scale(1.03);
    transition: 0.3s ease;
    z-index: 1;
}

.weekday {
    width: 100%;
    padding-top: 0.2rem;
    text-align: center;
    justify-self: center;
    align-self: end;
    user-select: none;
    font-weight: bold;
    background: var(--backgroundColor);
    border-bottom: 2px solid var(--primaryTextColor);
}

.active-selection {
    background: var(--yellow) !important;
    color: black;
    border-radius: 0.4rem;
}

.today {
    background: var(--green) !important;
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.2);
}

.new-event-grid {
    margin: 0.2rem 2.5rem;
    margin-right: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */
    justify-items: center;
    align-items: center;
    overflow-y: auto;
}

.new-event-grid > div {
    text-align: center;
    padding: 0.2rem;
    user-select: none;
    font-size: 1.1rem;
}

.react-calendar {
    background: var(--backgroundColor);
    border: 1px solid var(--dividerColor);
    color: var(--primaryTextColor);
    border-radius: 0.3rem;
}

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}
.react-calendar button:enabled:hover {
    cursor: pointer;
    background: var(--dividerColor);
    border-radius: 0.3rem;
}
.react-calendar__navigation {
    height: 1.8rem;
    border-bottom: 2px solid var(--dividerColor);
}
.react-calendar__navigation button {
    background: none;
    color: var(--primaryTextColor);
}

.react-calendar__navigation button[disabled] {
    background-color: var(--dividerColor);
}

.react-calendar__month-view__days__day,
.react-calendar__year-view__months__month,
.react-calendar__decade-view__years__year,
.react-calendar__century-view__decades__decade {
    color: var(--primaryTextColor);
}

.react-calendar__month-view__days__day:disabled {
    color: var(--dividerColor);
}

.react-calendar__month-view__weekdays {
    text-align: center;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__days__day--weekend {
    color: #d10000;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 1.2em 0.5em;
}
.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
}
.react-calendar__tile--now {
    background: rgb(21, 185, 21);
    border-radius: 0.3rem;
    color: black;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: rgb(88, 209, 88) !important;
}
.react-calendar__tile--active {
    background: #006edc;
    color: white;
    border-radius: 0.3rem;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #1087ff !important;
}
